body {
    background-color: #f5f0e1;
}

h1 {
    text-align: center; 
    color: #1e3d59;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
}

.head_section {
    align: center;
    margin: auto;
    width: 76%;
    height: 70%;
}

.head_section img {
    align: center;
    margin: auto;
    border: #ffc13b;
    border-width: 5px;
    border-style: dashed;
    width: 100%;
    height: 70%;
}

.main_section {
    align: center;
    margin: 5px;
    margin-bottom: 40px;
    border: 1px solid #ff6e40
    
    
}

p {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#heading {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #1e3d59;
}